<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleIdentifier</key>
	<string>{{cookiecutter.bundle_identifier}}</string>

	<key>CFBundleShortVersionString</key>
	<string>{{cookiecutter.version_string}}</string>

	<key>NSHumanReadableCopyright</key>                                               
	<string>{{cookiecutter.copyright}}</string>

	<key>CFBundleExecutable</key>
	<string>{{cookiecutter.launcher_name}}</string>

	<key>CFBundleIconFile</key>
	<string>Icon.icns</string>
</dict>
</plist>
